In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [2]:
#Loading csv containing all total number of votes form every state of the 2020 election data 
csv_file = "president_state.csv"
statevotemap = pd.read_csv(csv_file, encoding='ISO-8859-1')
statevotemap.head()

                  state  total_votes
0              Delaware       504010
1  District of Columbia       333682
2               Florida     11067083
3               Georgia      4992772
4                Hawaii       574341

In [3]:
#Esport index reset 
statevotemap = statevotemap.reset_index()
statevotemap.head()

   index                 state  total_votes
0      0              Delaware       504010
1      1  District of Columbia       333682
2      2               Florida     11067083
3      3               Georgia      4992772
4      4                Hawaii       574341

In [4]:
#Setting Index to its own column
statevotemap = statevotemap.rename(columns = {'index':'id'})
statevotemap.set_index('id', inplace = True)
statevotemap.head()

                   state  total_votes
id
0               Delaware       504010
1   District of Columbia       333682
2                Florida     11067083
3                Georgia      4992772
4                 Hawaii       574341

In [5]:
#Impoting data 2 
csv_file2 = "Electoral_College.csv"
electoralcollege = pd.read_csv(csv_file2, encoding='ISO-8859-1')
#ELECTORAL COLLEGE VOTE FROM 2020 
electoralcollege = electoralcollege[electoralcollege['Year'] == 2020]
electoralcollege.head()

     Year       State  Votes
58   2020     Alabama    9.0
117  2020      Alaska    3.0
176  2020     Arizona   11.0
235  2020    Arkansas    6.0
294  2020  California   55.0

In [6]:
electoralcollege = electoralcollege .reset_index()
electoralcollege .head()

   index  Year       State  Votes
0     58  2020     Alabama    9.0
1    117  2020      Alaska    3.0
2    176  2020     Arizona   11.0
3    235  2020    Arkansas    6.0
4    294  2020  California   55.0

In [7]:
electoralcollege = electoralcollege.drop(columns = {'index'})
electoralcollege.head()

   Year       State  Votes
0  2020     Alabama    9.0
1  2020      Alaska    3.0
2  2020     Arizona   11.0
3  2020    Arkansas    6.0
4  2020  California   55.0

In [9]:
electoralcollege['id']= electoralcollege.index
electoralcollege

    Year           State  Votes  id
0   2020         Alabama    9.0   0
1   2020          Alaska    3.0   1
2   2020         Arizona   11.0   2
3   2020        Arkansas    6.0   3
4   2020      California   55.0   4
5   2020        Colorado    9.0   5
6   2020     Connecticut    7.0   6
7   2020            D.C.    3.0   7
8   2020        Delaware    3.0   8
9   2020         Florida   29.0   9
10  2020         Georgia   16.0  10
11  2020          Hawaii    4.0  11
12  2020           Idaho    4.0  12
13  2020        Illinois   20.0  13
14  2020         Indiana   11.0  14
15  2020            Iowa    6.0  15
16  2020          Kansas    6.0  16
17  2020        Kentucky    8.0  17
18  2020       Louisiana    8.0  18
19  2020           Maine    4.0  19
20  2020        Maryland   10.0  20
21  2020   Massachusetts   11.0  21
22  2020        Michigan   16.0  22
23  2020       Minnesota   10.0  23
24  2020     Mississippi    6.0  24
25  2020        Missouri   10.0  25
26  2020         Montana    3.0  26
27  2020        Nebraska    5.0  27
28  2020          Nevada    6.0  28
29  2020   New Hampshire    4.0  29
30  2020      New Jersey   14.0  30
31  2020      New Mexico    5.0  31
32  2020        New York   29.0  32
33  2020  North Carolina   15.0  33
34  2020    North Dakota    3.0  34
35  2020            Ohio   18.0  35
36  2020        Oklahoma    7.0  36
37  2020          Oregon    7.0  37
38  2020    Pennsylvania   20.0  38
39  2020    Rhode Island    4.0  39
40  2020  South Carolina    9.0  40
41  2020    South Dakota    3.0  41
42  2020       Tennessee   11.0  42
43  2020           Texas   38.0  43
44  2020            Utah    6.0  44
45  2020         Vermont    3.0  45
46  2020        Virginia   13.0  46
47  2020      Washington   12.0  47
48  2020   West Virginia    5.0  48
49  2020       Wisconsin   10.0  49
50  2020         Wyoming    3.0  50

In [11]:
electoralcollege.set_index('id', inplace = True)

In [12]:
electoralcollege.head()

    Year       State  Votes
id
0   2020     Alabama    9.0
1   2020      Alaska    3.0
2   2020     Arizona   11.0
3   2020    Arkansas    6.0
4   2020  California   55.0

In [16]:
electoralcollege = electoralcollege.rename(columns= {'Votes':'electoral_votes'})
electoralcollege.head()

    Year       State  electoral_votes
id
0   2020     Alabama              9.0
1   2020      Alaska              3.0
2   2020     Arizona             11.0
3   2020    Arkansas              6.0
4   2020  California             55.0